# --extra-index-url https://download.pytorch.org/whl/cu117
# torch==1.13.1+cu117
# torchvision==0.14.1+cu117
--extra-index-url https://download.pytorch.org/whl/cu128
torch==2.7.0+cu128
torchvision==0.22.0+cu128
numpy #~=1.23.5
mmcv
mmengine
decord
ftfy
einops
termcolor
timm
regex
yacs
pandas
onnx
onnxscript
onnxconverter-common
onnxruntime-gpu

# ipynb dependencies
ipykernel
ipywidgets
