# --extra-index-url https://download.pytorch.org/whl/cu117
# torch==1.13.1+cu117
# torchvision==0.14.1+cu117
--extra-index-url https://download.pytorch.org/whl/cu128
torch==2.7.0+cu128
torchvision==0.22.0+cu128
numpy~=1.23.5
mmcv-full
decord
ftfy
einops
termcolor
timm
regex
yacs
pandas
onnx~=1.18.0
onnxscript~=0.3.1
onnxruntime
onnxruntime-gpu

# ipybb dependencies
ipykernel
ipywidgets
